:root {
  --line-border-fill: #06233d;
  --line-border-empty: #ffffff4b;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 100vw;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: #ffffff4b;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 3px solid gray;

  transition: 0.4s ease;
}

.circles.active {
  border-color: var(--line-border-fill);
}

.btn-ps {
  background-color: var(--line-border-fill);
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
}

.btn-ps::active {
  transform: scale(.98);
}

.btn-ps:focus {
  outline: 0;
}

.btn-ps:disabled {
  color: rgba(0, 0, 0, 0.188);
  background-color: #80808034;
}