.container-ec {
  display: flex;
  width: 90%;
  height: 60%;
}

.panel-ec {
  flex: 0.5;
  margin: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 100%;
  color: #fff;
  text-shadow: black 1px 0 5px;

  cursor: pointer;
  position: relative;

  transition: flex 0.7s ease-in;
}

.panel-h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0px;
  opacity: 0;
}

.panel-ec.active {
  flex: 5;
}

.panel-ec.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.4s;
}

@media (max-width: 720px) {
  .container-ec {
    width: 100vw;
  }

  .panel-ec:nth-of-type(4),
  .panel-ec:nth-of-type(5) {
    display: none;
  }
}
