.container-sa {
  height: 75%;
}

.box-sa {
  background-color: rgb(151, 163, 173);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 50px 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box-sa:nth-of-type(even) {
  transform: translateX(-400%);
}

.box-sa.show {
  transform: translateX(0%);
}

.box-sa h2 {
  font-size: 45px;
}
